<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBc0oKxcHUke8xYSC_J8CcyTd32UQfl5Aw</string>
	<key>GCM_SENDER_ID</key>
	<string>665579743182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SJI.ObjcDemo</string>
	<key>PROJECT_ID</key>
	<string>cleanobjc</string>
	<key>STORAGE_BUCKET</key>
	<string>cleanobjc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665579743182:ios:f2840d39b81d4cb2c72d9f</string>
</dict>
</plist>